In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
import geoplot
import pickle
import geoplot.crs as gcrs
import statsmodels.api as sm

/home/jasonllu/anaconda3/lib/python3.7/site-packages/geopandas/_compat.py:88: UserWarning: The Shapely GEOS version (3.9.0-CAPI-1.14.1) is incompatible with the GEOS version PyGEOS was compiled with (3.9.0-CAPI-1.16.2). Conversions between both will be slow.
  shapely_geos_version, geos_capi_version_string

In [2]:
node_df = pd.read_pickle('../../data_process/node_specific_df.pickle')
degree_df = pd.read_pickle('../../data_process/degree_df.pickle')
edge_df = pd.read_pickle('../../data_process/edge_specific_df.pickle')

In [3]:
node_df.head()

,SA2_MAIN16,SA2_5DIG16,SA2_NAME16,SA3_CODE16,SA3_NAME16,SA4_CODE16,SA4_NAME16,GCC_CODE16,GCC_NAME16,STE_CODE16,...,sum_stay_duration_destination_counts,total_stays_destination_counts,origin_y,unique_agents_origin_entropy,sum_stay_duration_origin_entropy,total_stays_origin_entropy,destination_y,unique_agents_destination_entropy,sum_stay_duration_destination_entropy,total_stays_destination_entropy
0,401011001,41001,Adelaide,40101,Adelaide City,401,Adelaide - Central and Hills,4GADE,Greater Adelaide,4,...,1274311971,6577944,401011001,3.987705,1.588336,2.324296,401011001,4.460324,3.949646,4.237396
1,401011002,41002,North Adelaide,40101,Adelaide City,401,Adelaide - Central and Hills,4GADE,Greater Adelaide,4,...,236898517,1123442,401011002,3.855433,1.944331,2.609353,401011002,4.391005,3.152188,3.975034
2,401021003,41003,Adelaide Hills,40102,Adelaide Hills,401,Adelaide - Central and Hills,4GADE,Greater Adelaide,4,...,132330008,304810,401021003,3.956555,1.266519,2.456366,401021003,4.007255,0.948900,2.042530
3,401021004,41004,Aldgate - Stirling,40102,Adelaide Hills,401,Adelaide - Central and Hills,4GADE,Greater Adelaide,4,...,339128660,922067,401021004,3.879316,1.355832,2.310259,401021004,3.942693,1.099284,2.075796
4,401021005,41005,Hahndorf - Echunga,40102,Adelaide Hills,401,Adelaide - Central and Hills,4GADE,Greater Adelaide,4,...,99670729,281143,401021005,3.732677,1.404100,2.330624,401021005,4.017761,1.654530,2.549629

In [ ]:
node_df.columns

In [12]:
degree_df.head()

,SA2_MAIN16,num_nodes,num_1degree,num_2degree,num_3degree,num_4degree,num_greater5degree
0,401011001,1642,291,199,865,276,11
1,401011002,517,149,54,239,69,6
2,401021003,4034,1174,731,1982,141,6
3,401021004,2455,710,502,1126,110,7
4,401021005,989,286,245,421,36,1

In [13]:
print(node_df.columns)
print(degree_df.columns)

Index(['SA2_MAIN16', 'SA2_5DIG16', 'SA2_NAME16', 'SA3_CODE16', 'SA3_NAME16',
       'SA4_CODE16', 'SA4_NAME16', 'GCC_CODE16', 'GCC_NAME16', 'STE_CODE16',
       'STE_NAME16', 'AREASQKM16', 'class_ART', 'class_BUS', 'class_COLL',
       'class_FREE', 'class_HWY', 'class_LOCL', 'class_SUBA', 'class_TRK2',
       'class_TRK4', 'class_UND', 'geometry', 'num_jobs_000_persons',
       'sa2_code16', 'median_income_per_job_aud_persons', 'origin_x',
       'unique_agents_origin_counts', 'sum_stay_duration_origin_counts',
       'total_stays_origin_counts', 'destination_x',
       'unique_agents_destination_counts',
       'sum_stay_duration_destination_counts',
       'total_stays_destination_counts', 'origin_y',
       'unique_agents_origin_entropy', 'sum_stay_duration_origin_entropy',
       'total_stays_origin_entropy', 'destination_y',
       'unique_agents_destination_entropy',
       'sum_stay_duration_destination_entropy',
       'total_stays_destination_entropy'],
      dtype='object')
Index(['SA2_MAIN16', 'num_nodes', 'num_1degree', 'num_2degree', 'num_3degree',
       'num_4degree', 'num_greater5degree'],
      dtype='object')

In [14]:
node_degree_df = node_df.merge(degree_df, how="left", on="SA2_MAIN16")

In [15]:
node_degree_df.head()

,SA2_MAIN16,SA2_5DIG16,SA2_NAME16,SA3_CODE16,SA3_NAME16,SA4_CODE16,SA4_NAME16,GCC_CODE16,GCC_NAME16,STE_CODE16,...,destination_y,unique_agents_destination_entropy,sum_stay_duration_destination_entropy,total_stays_destination_entropy,num_nodes,num_1degree,num_2degree,num_3degree,num_4degree,num_greater5degree
0,401011001,41001,Adelaide,40101,Adelaide City,401,Adelaide - Central and Hills,4GADE,Greater Adelaide,4,...,401011001,4.460324,3.949646,4.237396,1642,291,199,865,276,11
1,401011002,41002,North Adelaide,40101,Adelaide City,401,Adelaide - Central and Hills,4GADE,Greater Adelaide,4,...,401011002,4.391005,3.152188,3.975034,517,149,54,239,69,6
2,401021003,41003,Adelaide Hills,40102,Adelaide Hills,401,Adelaide - Central and Hills,4GADE,Greater Adelaide,4,...,401021003,4.007255,0.948900,2.042530,4034,1174,731,1982,141,6
3,401021004,41004,Aldgate - Stirling,40102,Adelaide Hills,401,Adelaide - Central and Hills,4GADE,Greater Adelaide,4,...,401021004,3.942693,1.099284,2.075796,2455,710,502,1126,110,7
4,401021005,41005,Hahndorf - Echunga,40102,Adelaide Hills,401,Adelaide - Central and Hills,4GADE,Greater Adelaide,4,...,401021005,4.017761,1.654530,2.549629,989,286,245,421,36,1

In [16]:
node_degree_df.to_pickle('../../data_process/node_degree_df.pickle')

In [17]:
edge_df.head()

,timestamp,destination,state,origin,unique_agents,sum_stay_duration,total_stays,OD,class_ART,class_BUS,...,class_UND,num_jobs_000_persons_origin,sa2_code16_x,median_income_per_job_aud_origin,num_jobs_000_persons_destination,sa2_code16_y,median_income_per_job_aud_destination,od_duration_value,od_distance_value,road_counts
0,2018-02-01T00:00:00.000+11:00,401011001,4,401011001,19863,268779414,681217,401011001401011001,208.0,13.0,...,10.0,14.057,401011001,17265.0,14.057,401011001,17265.0,1.0,1.0,2227.0
1,2018-02-01T00:00:00.000+11:00,401011002,4,401011001,6911,4857456,29322,401011001401011002,267.0,16.0,...,11.0,14.057,401011001,17265.0,5.459,401011002,24773.0,565.0,2897.0,2867.0
2,2018-02-01T00:00:00.000+11:00,401021003,4,401011001,404,253764,1334,401011001401021003,838.0,82.0,...,14.0,14.057,401011001,17265.0,5.373,401021003,24830.0,3293.0,39614.0,10415.0
3,2018-02-01T00:00:00.000+11:00,401021004,4,401011001,1184,903377,5487,401011001401021004,430.0,13.0,...,33.0,14.057,401011001,17265.0,14.156,401021004,28246.0,1603.0,20319.0,6590.0
4,2018-02-01T00:00:00.000+11:00,401021005,4,401011001,700,189721,1278,401011001401021005,517.0,13.0,...,33.0,14.057,401011001,17265.0,3.395,401021005,25031.0,2156.0,34698.0,7684.0

In [18]:
edge_df["origin"].values

array(['401011001', '401011001', '401011001', ..., '404031109',
       '404031109', '404031109'], dtype=object)

In [19]:
origin_dest = list(zip(edge_df["origin"].values, edge_df["destination"].values))

In [20]:
len(origin_dest)

10240

In [21]:
len(set(origin_dest))

10240

In [22]:
edge_degree_df = pd.DataFrame(columns=["sa2_code16_x", "sa2_code16_y", "num_nodes_x", 
                                  "num_1degree_x", "num_2degree_x", "num_3degree_x", "num_4degree_x",
                                    "num_greater5degree_x",
                                      "num_nodes_y", 
                                  "num_1degree_y", "num_2degree_y", "num_3degree_y", "num_4degree_y",
                                    "num_greater5degree_y"])

In [23]:
edge_degree_df.head()

Empty DataFrame
Columns: [sa2_code16_x, sa2_code16_y, num_nodes_x, num_1degree_x, num_2degree_x, num_3degree_x, num_4degree_x, num_greater5degree_x, num_nodes_y, num_1degree_y, num_2degree_y, num_3degree_y, num_4degree_y, num_greater5degree_y]
Index: []

In [24]:
for o,d in origin_dest:
    if o != d:
        o_data = degree_df[degree_df["SA2_MAIN16"]==o]
        d_data = degree_df[degree_df["SA2_MAIN16"]==d]
        num_nodes_x = float(o_data["num_nodes"].iloc[0])
        num_1degree_x = float(o_data["num_1degree"].iloc[0])
        num_2degree_x = float(o_data["num_2degree"].iloc[0])
        num_3degree_x = float(o_data["num_3degree"].iloc[0])
        num_4degree_x = float(o_data["num_4degree"].iloc[0])
        num_greater5degree_x = float(o_data["num_greater5degree"].iloc[0])
        
        num_nodes_y = float(d_data["num_nodes"].iloc[0])
        num_1degree_y = float(d_data["num_1degree"].iloc[0])
        num_2degree_y = float(d_data["num_2degree"].iloc[0])
        num_3degree_y = float(d_data["num_3degree"].iloc[0])
        num_4degree_y = float(d_data["num_4degree"].iloc[0])
        num_greater5degree_y = float(d_data["num_greater5degree"].iloc[0])
        
        
    else:
        o_data = degree_df[degree_df["SA2_MAIN16"]==o]
        d_data = degree_df[degree_df["SA2_MAIN16"]==d]
        num_nodes_x = num_nodes_y = float(o_data["num_nodes"].iloc[0])
        num_1degree_x = num_1degree_y = float(o_data["num_1degree"].iloc[0])
        num_2degree_x = num_2degree_y = float(o_data["num_2degree"].iloc[0])
        num_3degree_x = num_3degree_y = float(o_data["num_3degree"].iloc[0])
        num_4degree_x = num_4degree_y = float(o_data["num_4degree"].iloc[0])
        num_greater5degree_x = num_greater5degree_y = float(o_data["num_greater5degree"].iloc[0])
    
    edge_degree_df = edge_degree_df.append({"sa2_code16_x": o, "sa2_code16_y":d ,"num_nodes_x":num_nodes_x, 
                                  "num_1degree_x":num_1degree_x, "num_2degree_x":num_2degree_x, 
                                  "num_3degree_x":num_3degree_x, "num_4degree_x":num_4degree_x,
                                  "num_greater5degree_x":num_greater5degree_x,
                                  "num_nodes_y":num_nodes_y, 
                                  "num_1degree_y":num_1degree_y, "num_2degree_y":num_2degree_y, 
                                  "num_3degree_y":num_3degree_y, "num_4degree_y":num_4degree_y,
                                  "num_greater5degree_y":num_greater5degree_y},
                                ignore_index=True)

In [25]:
edge_degree_df.head()

,sa2_code16_x,sa2_code16_y,num_nodes_x,num_1degree_x,num_2degree_x,num_3degree_x,num_4degree_x,num_greater5degree_x,num_nodes_y,num_1degree_y,num_2degree_y,num_3degree_y,num_4degree_y,num_greater5degree_y
0,401011001,401011001,1642.0,291.0,199.0,865.0,276.0,11.0,1642.0,291.0,199.0,865.0,276.0,11.0
1,401011001,401011002,1642.0,291.0,199.0,865.0,276.0,11.0,517.0,149.0,54.0,239.0,69.0,6.0
2,401011001,401021003,1642.0,291.0,199.0,865.0,276.0,11.0,4034.0,1174.0,731.0,1982.0,141.0,6.0
3,401011001,401021004,1642.0,291.0,199.0,865.0,276.0,11.0,2455.0,710.0,502.0,1126.0,110.0,7.0
4,401011001,401021005,1642.0,291.0,199.0,865.0,276.0,11.0,989.0,286.0,245.0,421.0,36.0,1.0

In [26]:
edge_degree_df = edge_df.merge(edge_degree_df, how="left", on=["sa2_code16_x","sa2_code16_y"])

In [27]:
edge_degree_df.head()

,timestamp,destination,state,origin,unique_agents,sum_stay_duration,total_stays,OD,class_ART,class_BUS,...,num_2degree_x,num_3degree_x,num_4degree_x,num_greater5degree_x,num_nodes_y,num_1degree_y,num_2degree_y,num_3degree_y,num_4degree_y,num_greater5degree_y
0,2018-02-01T00:00:00.000+11:00,401011001,4,401011001,19863,268779414,681217,401011001401011001,208.0,13.0,...,199.0,865.0,276.0,11.0,1642.0,291.0,199.0,865.0,276.0,11.0
1,2018-02-01T00:00:00.000+11:00,401011002,4,401011001,6911,4857456,29322,401011001401011002,267.0,16.0,...,199.0,865.0,276.0,11.0,517.0,149.0,54.0,239.0,69.0,6.0
2,2018-02-01T00:00:00.000+11:00,401021003,4,401011001,404,253764,1334,401011001401021003,838.0,82.0,...,199.0,865.0,276.0,11.0,4034.0,1174.0,731.0,1982.0,141.0,6.0
3,2018-02-01T00:00:00.000+11:00,401021004,4,401011001,1184,903377,5487,401011001401021004,430.0,13.0,...,199.0,865.0,276.0,11.0,2455.0,710.0,502.0,1126.0,110.0,7.0
4,2018-02-01T00:00:00.000+11:00,401021005,4,401011001,700,189721,1278,401011001401021005,517.0,13.0,...,199.0,865.0,276.0,11.0,989.0,286.0,245.0,421.0,36.0,1.0

In [28]:
edge_degree_df.to_pickle('../../data_process/edge_degree_df.pickle')